
.leaflet-container {
    width: 90vw;
    height: 50vh;
  }
  
  .map-block {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }